<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>

</script>
</body>
<footer id="footer">
<div class="container-fluid footerposition">
  <i class="fab fa-twitter sm-icon"></i>
  <i class="fab fa-facebook sm-icon"></i>
  <i class="fab fa-instagram sm-icon"></i>
  <i class="fas fa-envelope sm-icon"></i>
  <p class="footertext">© Copyright 2021 JSSATEB</p>
</div>
</footer>

</html>
